<div class="container">
  <div class="header">
<h2>Rock these <strong class= "bold-text"><%= @wigs.count %></strong> Wigs</h2>
</div>
<%= simple_form_for :search, url: wigs_path, method: :get do |f| %>
        <div class="search-form-control form-group">
           <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
           <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
</div>

<div class="container">
  <div class="row">
          <% @wigs.each do |wig| %>
          <%# raise %>
    <div class="col-sm-4 col-xs-6 col-md-3 column" >
       <%= link_to wig_path(wig) do %>
      <div class="card-trip">
        <!-- <img src="<%= wig.photo%>"> -->
        <%= cl_image_tag("#{wig.photo}", :transformation=>[:gravity=>"face"])%>
          <div class="card-trip-infos">
            <div>
              <h2 class="wig-title"><%=wig.title.truncate(20)%></h2>
            <p><%=wig.color.truncate(20)%></p>
          </div>
         <h2 class="card-trip-pricing"><%=wig.price%>€</h2>
        </div>
      </div>
    </div>
   <% end %>
   <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <strong>a wig</strong> in Wigland.
  </div>
</div>
