<div class="container">
  <div class="horizontal-flex">
    <div class="main-image">
      <%= image_tag 'marge.jpg', class: 'wig-image'  %>
    </div>
    <div class="vertical-flex">
      <div class="main-description">
        <h1><%= @wig.title %></h1>
        <p>Description: <%= @wig.description %></p>
        <p>Color: <%= @wig.color %></p>
        <p>Color: <%= @wig.size %></p>
        <p>Color: <%= @wig.price %></p>
      </div>
      <div class="form-wrapper">
        <h2>Rent this wig at:</h2>
        <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :start_at, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_at, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Send Wiquest", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

