<div class="container">
<br>
  <h2>My bookings</h2>
<br>

<% if @current_user.bookings.empty? %>
    <p>You don't have any booking!</p>
  <% else %>
      <% @bookings.each do |booking| %>
        <%= link_to wig_path(booking.wig) do %>
      <div class="card-request">

        <img src="<%= booking.wig.photo %>">
        <div class="card-request-infos">
          <h2><%= booking.wig.title %></h2>
          <p><strong>From <%= booking.start_date%> to <%= booking.end_date%></strong></p>
          <% if booking.status == "accept"%>
          <div class="request-ribbon" style="background-color: #39CA73">
            <span>Confirmed</span>
            <% elsif booking.status == "decline" %>
            <div class="request-ribbon" style="background-color: #FF0000">
            <span>Declined</span>
            <%else %>
             <div class="request-ribbon" style="background-color:  #FF4500">
            <span>Pending</span>
            <% end %>
          </div>
          <p><%= booking.wig.description %></p>
          <p><%= booking.wig.price %>€ per day</p>
        </div>
      </div>
        <% end %>
    <% end %>

  </div>
</div>
<% end %>

<br>
<br>
  </div>
    <%= render 'shared/footer' %>




